<div id="activityTable" class="table-responsive">
    <table id="activity" class="table">
        <thead>
        <tr>
            <th scope="col" >Done</th>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-sm-table-cell">Location</th>
            <th scope="col" class="d-none d-sm-table-cell">Time</th>
            <th scope="col" class="d-none d-sm-table-cell">Description</th>
            <th scope="col">Let's Do it!</th>
            <th scope="col" class="d-none d-sm-table-cell">Cost</th>
            <th scope="col">Audacity Index</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for activity in page_obj %}
            <tr>
                <td class="center"><input type="checkbox" class="completed-checkbox" data-id="{{ activity.id }}"
                           {% if activity.completed %}checked{% endif %}></td>
                <td>{{ activity.name }}</td>
                <td class="d-none d-sm-table-cell">{{ activity.location }}</td>
                <td class="d-none d-sm-table-cell">{{ activity.date_time|default_if_none:"" }}</td>
                <td class="d-none d-sm-table-cell">{{ activity.description }}</td>
                <td class="center"><input type="checkbox" class="planned-checkbox" data-id="{{ activity.id }}"
                           {% if activity.planned %}checked{% endif %}></td>
                <td class="d-none d-sm-table-cell center">{{ activity.cost }}</td>
                <td class="center">{{ activity.daring_rating }}</td>
                <td>
                    <button class="btn btn-danger delete-button" data-id="{{ activity.id }}"><i class="fa fa-trash" style="color:white;"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
